@import "../../styles/variables";
@import "../../styles/mixins";

.GeneralModal {
    @include flex-container;
    position: fixed;
    width: 550px;
    height: 465px;
    background-color: $secondary-color;
    border-radius: 18px;
    top: 230px;
    left: calc(48% - 250px);

    .text {
    @include flex-container(column, center, center);
    width: 45%;
    height: 100%;
    padding: 0 15px;
    color:$primary-color;

    .titleText{
    margin-top: 0;
    font-family: $first_fonts;
   }

   .categoryName{
    font-size: 1.3rem;
    font-weight: bold;

   }

   .typeGlass{
    font-weight: bold;
   }

   .subtitle{
    display: flex;
    justify-content: space-evenly;
   }

   .textList{
      width: 100%;
      @include flex-container(row, space-around);

      .textListUl{
        width: 100px;
        padding-left:0px;
        justify-content: space-evenly;
      }
      .textListUl2{
        width: 180px;
        height: 140px;
        justify-content: space-evenly;
        padding-left:16px;
      }

      li { 
        padding: 2px;
        list-style-type: none;
      }     
    }
  }

  .btnClose{
    border:none;
    background:none;
    position: absolute;
    top:10px;
    left: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 1.5s;

    &:hover{
      transform: scaleX(-1);
    }

  }

  .image {
    width: 50%;
    height: 99%;

    img { 
      width: 100%;
      height: 465px;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
      object-fit: cover;
    }


    .carouselBtn button {
      padding: 22px 0;
      width: 50%;
      height: 100%;
      border: 0;
      background-color: $active-color;
      color: $secondary-color;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.35s;
      transform: translateY(-63px);
      

      &:hover {
        background-color: $active-color_deep;
        transform: scale(1.1) translateY(-57.5px);
      }
    }
  }
}