/*@import "../../styles/mixins.scss";
@import "../../styles/variables";*/

/*.Hero{
  @include simple-flex;
  /*border:2px solid rgb(248, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;*/
 

  /*.Slide{
        display: flex;
        justify-content: flex-start;
        width: 450px;
        height: 250px;
        border-radius: 6px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
        overflow-X: scroll;
        margin-top: 20px;
        

        .image{
          width: 100%;
          height: 230px;
          border-radius: 6px;
          object-fit: cover;
         
        }
      }
   
  }


  .title {
    position: absolute;
    font-size: 3.6rem;
    font-family: $first_fonts;
    margin-bottom: 0;
    transform: translateY(-300px);

  }

  .secondList {
    display: flex;
    gap: 7px;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
    list-style-type: none;

    li {
      padding: 4px 8px;
      cursor: pointer;

      &:hover {
        background-color: $active-color_deep;
        color: $secondary-color;
      }
    }
  }*/
