
// Colours
$primary-color: #1b1b1b;
$secondary-color: #ebe9e9;
$active-color:#9bcc6b;
$active-color_deep: #779757;

$primary-color-alpha: #1313136b;
$impression-color: #ffffff;

$gradient-color:#2d3436;
$gradient-background:linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);

// Sizes
$general_margin: 0 20px;

//Fonts

$first_fonts:cursive;